@import '~@angular/material/theming';
@include mat-core();
$custom-primary: mat-palette($mat-orange);
$custom-accent: mat-palette($mat-pink);
$custom-warn: mat-palette($mat-deep-purple);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);